@using System.Data
@{
    ViewData["Title"] = "Admin main";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    DataTable dtMedicalDeviceVigilance = ViewData["MedicalDevice"] as DataTable;
    DataTable dtit = ViewData["IT"] as DataTable;
    DataTable dtPharma = ViewData["Pharma"] as DataTable;
    <link href="https://cdn.jsdelivr.net/npm/suneditor/dist/css/suneditor.min.css" rel="stylesheet">
}
<style>
    .toolbar {
        background: #f0f0f0;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px 5px 0 0;
    }

    .toolbar button,
    .toolbar select {
        font-size: 16px;
        margin-right: 5px;
        cursor: pointer;
        background: white;
        border: 1px solid #ccc;
        padding: 5px 10px;
        border-radius: 3px;
    }
</style>
<div id="accordion">
    <div class="card my-2">
        <div class="card-header">
            <a class="btn" data-bs-toggle="collapse" href="#collapseOne">Add Courses</a>
        </div>
        <div id="collapseOne" class="collapse show" data-bs-parent="#accordion">
            <div class="card-body">
                <form id="demo">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="courseType" class="form-label">Course Type:</label>
                                    <select class="form-select" id="courseType" required>
                                        <option value="IT">IT</option>
                                        <option value="Pharma">Pharma</option>
                                        <option value="Medical Device">Medical Device</option>
                                    </select>
                                    <div id="onlyPharma" style="display:none;" class="mt-2">
                                        <label for="studentType" class="form-label">Student Type:</label>
                                        <select class="form-select" id="studentType">
                                            <option value="bpharmacy">B Pharmacy</option>
                                            <option value="MBBS">MBBS</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="courseName" class="form-label">Course Name:</label>
                                    <input type="text" class="form-control" id="courseName" name="courseName"
                                        maxlength="50" required>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <label for="courseDetails" class="form-label">Course Details:</label>
                                    <textarea class="form-control courseDetails" id="0"
                                            name="courseDetails"rows="6"
                                        required></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label for="coursePrice" class="form-label">Course Price:</label>
                                <input type="number" class="form-control" id="coursePrice" name="coursePrice">
                            </div>
                            <div class="mb-3">
                                <label for="courseImage" class="form-label">Course Photo:</label>
                                <input type="file" class="form-control" id="courseImage" name="courseImage"
                                    onchange="courseImagepreviewImage(this)">
                            </div>
                            <div class="mb-3 text-center">
                                <img id="courseImagePreview" src="#"
                                    style="display: none; max-width: 200px; max-height: 200px;" />
                            </div>
                            <div class="d-grid gap-2">
                                <button type="button" class="btn btn-primary" id="btncourse" data-textarea-id="0">Add Course</button>
                                <span id="courseStatus" class="text-center mt-2"></span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="card my-2">
        <div class="card-header">
            <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo">IT Courses</a>
        </div>
        <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
            <div class="card-body">
                <div id="IT">
                    <div class="table-responsive">
                        <span id="spanIt" style="display:none;">IT</span>
                        <table class="table">
                            <thead>
                                <tr class="text-center">
                                    <th style="width: 30px;">Id</th>
                                    <th style="width:140px;">Course Name</th>
                                    <th>Course Details</th>
                                    <th style="width: 30px;">Image</th>
                                    <th style="width:140px;">Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (dtit != null)
                                {
                                    foreach (DataRow row in dtit.Rows)
                                    {
                                        var Id = row["Id"]?.ToString();
                                        var courseDetailsId = $"courseDetails_{Id}";
                                        var image = row["Image"] as byte[];
                                        var imageSrc = $"data:image/jpeg;base64,{Convert.ToBase64String(image)}";
                                        <tr>
                                            <td>@Id</td>
                                            <td>@row["CourseName"]</td>
                                            <td>
                                                <textarea class="form-control courseDetails" id="@courseDetailsId"
                                            name="courseDetails" rows="6"
                                            required>@Html.Raw(row["courseDetails"].ToString())</textarea>
                                                <button class="btn btn-outline-warning updateButton" data-textarea-id="@courseDetailsId" data-Col="CourseDetails"
                                                    data-id="@Id" type="button">Update Course Details</button>
                                            </td>
                                            <td>
                                                <img src="@imageSrc" alt="No Image" style="max-width: 200px;">
                                                <input type="file" class="form-control" id="imageSrc_@Id" name="Image"
                                                    required />
                                                <button class="btn btn-outline-warning updateButton" data-Col="Image"
                                                    data-id="@Id" type="button">Update Image</button>
                                            </td>
                                            <td>
                                                <div contenteditable="true" class="form-control priceUpdate" data-id="@Id">
                                                    @row["Price"]</div><br />
                                                <button class="btn btn-info updateButton" data-Col="Price" data-id="@Id">Update
                                                    Price</button>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card my-2">
        <div class="card-header">
            <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseThree">Medical Device Courses</a>
        </div>
        <div id="collapseThree" class="collapse" data-bs-parent="#accordion">
            <div class="card-body">
                <div id="MedicalDevice">
                    <div class="table-responsive">
                        <span id="spanMedicalDeviceVigilance" style="display:none;">MedicalDeviceVigilance</span>
                        <table class="table">
                            <thead>
                                <tr style="background-color:dimgray;">
                                    <th>Id</th>
                                    <th style="width:140px;">Course Name</th>
                                    <th>Course Details</th>
                                    <th>Image</th>
                                    <th style="width:140px;">Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (dtMedicalDeviceVigilance != null)
                                {
                                    @foreach (DataRow row in dtMedicalDeviceVigilance.Rows)
                                    {
                                        var Id = row["Id"]?.ToString();
                                        var image = row["image"] as byte[];
                                        var courseDetailsId = $"courseDetails_{Id}";
                                        var imageSrc = $"data:image/jpeg;base64,{Convert.ToBase64String(image)}";
                                        <tr>
                                            <td>@Id</td>
                                            <td>@row["CourseName"]</td>
                                            <td>
                                                <div >
                                                    <textarea class="form-control courseDetails" id="@courseDetailsId" name="courseDetails" rows="6" required>
                                                        @Html.Raw(row["courseDetails"].ToString())
                                                    </textarea>
                                                    <button class="btn btn-outline-warning updateButton"
                                                        data-textarea-id="@courseDetailsId" data-Col="CourseDetails"
                                                        data-id="@Id" type="button">Update Course Details</button>
                                                </div>
                                            </td>
                                            <td>
                                                <img src="@imageSrc" alt="Course Image" style="max-width: 200px;">
                                                <input type="file" class="form-control" id="imageSrc_@Id" name="Image"
                                                    required />
                                                <button class="btn btn-outline-warning updateButton" data-Col="Image"
                                                    data-id="@Id" type="button">Update Image</button>
                                            </td>
                                            <td>
                                                <div contenteditable="true" class="form-control priceUpdate" data-id="@Id">
                                                    @row["Price"]</div><br />
                                                <button class="btn btn-info updateButton" data-Col="Price" data-id="@Id">Update
                                                    Price</button>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card my-2">
        <div class="card-header">
            <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseFour">Pharma Courses</a>
        </div>
        <div id="collapseFour" class="collapse" data-bs-parent="#accordion">
            <div class="card-body">
                <div id="Pharma" class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr style="background-color:dimgray;color:white;">
                                <th>Id</th>
                                <th style="width:140px;">Course Name</th>
                                <th>Course Details</th>
                                <th>Image</th>
                                <th style="width:140px;">Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (dtPharma != null)
                            {
                                @foreach (DataRow row in dtPharma.Rows)
                                {
                                    var Id = row["Id"]?.ToString();
                                    var image = row["image"] as byte[];
                                    var courseDetailsId = $"courseDetails_{Id}";
                                    var imageSrc = $"data:image/jpeg;base64,{Convert.ToBase64String(image)}";
                                    <tr>
                                        <td>@Id</td>
                                        <td>
                                            @row["CourseName"]
                                            <p class="form-control">@row["StudentType"]</p>
                                        </td>
                                        <td>
                                            <div >
                                                <textarea class="form-control courseDetails" id="@courseDetailsId" name="courseDetails" rows="6" required>
                                                    @Html.Raw(row["courseDetails"].ToString())
                                                </textarea>
                                                <button class="btn btn-outline-warning updateButton"
                                                    data-textarea-id="@courseDetailsId" data-Col="CourseDetails"
                                                    data-id="@Id" type="button">Update Course Details</button>
                                            </div>
                                        </td>
                                        <td>
                                            <img src="@imageSrc" alt="Course Image" style="max-width: 200px;">
                                            <input type="file" class="form-control" id="imageSrc_@Id" name="Image" required />
                                            <button class="btn btn-outline-warning updateButton" data-Col="Image" data-id="@Id"
                                                type="button">Update Image</button>
                                        </td>
                                        <td>
                                            <div contenteditable="true" class="form-control priceUpdate" data-id="@Id">
                                                @row["Price"]</div><br />
                                            <button class="btn btn-info updateButton" data-Col="Price" data-id="@Id">Update
                                                Price</button>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
<script src="~/assets/js/jQuery3.7.js"></script>
<script src="https://cdn.jsdelivr.net/npm/suneditor/dist/suneditor.min.js"></script>
@* <script src="https://cdn.tiny.cloud/1/0ma60d7pixfu9mtywbypgy490sx1uuls23t3yl0ueg9ja9nw/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script> *@
<script>
    const editorMap = new Map();
document.querySelectorAll('.courseDetails').forEach((textarea) => {
    const id = textarea.id;
    const editor = SUNEDITOR.create(textarea, {
        buttonList: [
            ['formatBlock'],
            ['bold', 'italic', 'underline'],
            ['fontColor'],
            ['align'],
            ['list'],
            ['link', 'image'],
            ['removeFormat']
        ],
        height: "200px"
    });
    editorMap.set(id, editor);
});
</script>
<script>
    $(document).ready(function () {
        $('#btncourse').on('click', function () {
            var $button = $(this);
            $button.prop("disabled", true);
            var courseType = $('#courseType option:selected').text().trim();
            var courseName = $('#courseName').val().trim();
            /* var courseDetailsTextarea = $('.courseDetails')[0];
            var editorInstance = editorMap.get(courseDetailsTextarea);
            var courseDetails = editorInstance ? editorInstance.getContents() : ''; */
            var textareaId = String($button.data("textarea-id"));
            var editor = editorMap.get(textareaId);
            if (!editor) {
                alert("Editor not initialized");
                $button.prop("disabled", false);
                return;
            }
            var courseDetails = editor.getContents();
            var studentType = null;
            if ($('#onlyPharma').is(':visible')) {
                studentType = $('#studentType option:selected').text().trim();
            }
            var coursePrice = $('#coursePrice').val().trim();
            var image = $("#courseImage").prop("files")[0];
            if (!courseType || !courseName || !courseDetails || !coursePrice || isNaN(coursePrice) || Number(coursePrice) <= 999 || !image) {
                alert("Please fill out all fields correctly.");
                $button.prop("disabled", false);
                return;
            }
            var formData = new FormData();
            formData.append("courseType", courseType);
            formData.append("courseName", courseName);
            formData.append("studentType", studentType);
            formData.append("courseDetails", courseDetails);
            formData.append("coursePrice", coursePrice);
            formData.append("courseImage", image);
            $.ajax({
                url: '/AdminMain/AddCourse',
                method: 'POST',
                processData: false,
                contentType: false,
                data: formData,
                success: function (response) {
                    if (response.status == true) {
                        $("#btncourse").hide();
                        $("#courseStatus").html(`Course Type: ${courseType}<br/>Course Name: ${courseName}<br/>Course is added.<br/>Refresh the page`).css('color', 'green');
                    }
                    else {
                        $("#courseStatus").html(`Course Type: ${courseType}<br/>Course Name: ${courseName}<br/>Course is NOT added.<br/>Refresh the page`).css('color', 'red');
                    }
                },
                error: function (xhr, status, error) {
                    $("#courseStatus").html("Error in adding a course, (Contact your developer)." + error).css('color', 'red');
                },complete: function () {
                        $button.prop("disabled", false);
                    }
            });
        });

        $('#courseType').change(function () {
            if ($(this).val() === 'Pharma') {
                $('#onlyPharma').show();
            } else {
                $('#onlyPharma').hide();
            }
        });

        /* $('#studentType').change(function () {
            $("#btncourse").show();
        }); */

        $("#courseImage").change(function () {
            courseImagepreviewImage(this);
        });
        function courseImagepreviewImage(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $("#courseImagePreview").attr("src", e.target.result);
                    $("#courseImagePreview").show();
                };
                reader.readAsDataURL(input.files[0]);
            }
        }

$(document).on('click', '.updateButton', function () {            
            var $button = $(this);
            $button.prop("disabled", true);
            var col = $button.data("col");
            var id = $button.data("id");
            var value;
            if (col === "CourseDetails") {
                var textareaId = $button.data("textarea-id");
                var editor = editorMap.get(textareaId);
                if (!editor) {
                    alert("Editor not initialized");
                    $button.prop("disabled", false);
                    return;
                }
                value = editor.getContents();
            }
            else if (col === "Image") {
                var fileInput = $button.closest("td").find("input[type='file']")[0];
                var file = fileInput.files[0];
                if (!file) {
                    alert("Please select an image.");  
                              btn.prop("disabled", false);
                    return;
                }
                var formData = new FormData();
                formData.append("Id", id);
                formData.append("Image", file);
                formData.append("Col", col);
                $.ajax({
                    url: "/AdminMain/UpdateImage",
                    type: "POST",
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        if (!response.message.toLowerCase().includes("Failed")) {
                            $button.text("Updated").css("color", "#04ff04");
                        } else {
                            $button.text("Failed").css("color", "red");
                        }
                    },
                    error: function () {
                        alert("Error updating image.");
                    },complete: function () {
                        btn.prop("disabled", false);
                    }
                });
                return;
            }
            else if (col === "Price") {
                value = $button.closest("td").find(".priceUpdate").text().trim();
            }
            $.ajax({
                url: "/AdminMain/Update",
                type: "POST",
                data: {
                    Id: id,
                    Col: col,
                    Value: value
                },
                success: function (response) {
                    if (!response.message.toLowerCase().includes("Failed")) {
                        $button.text("Updated").css("color", "#04ff04");
                    } else {
                        $button.text("Failed").css("color", "red");
                    }
                },
                error: function () {
                    alert("Error updating " + col + ".");
                },complete: function () {
                        $button.prop("disabled", false);
                    }
            });
        });

    });
</script>
}